@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
  
:root {
 --color: #FB5030;
 --contenedor: #f3f4f3;
 --borde: #868686;
 --texto: #2B2B2B;
 --select:#8686869c;

}

 *{
     font-family:'Roboto';
 }

.hr1{
     float:left;
     width: 106px;
     border: 2px solid var(--color) ;
     margin-bottom: 10px;
     opacity: 1;
 }
 .hr2{
     float:left;
     width: 86px;
     border: 3px solid var(--color);
     margin-bottom: 10px;
     opacity: 1;
 }
 .contenedor{
     background-color: var(--contenedor);

 }
 a{
    text-decoration: none;
     color:var(--color);
 }
 p{
     color:var(--texto) ;
     font-size: 28px;
     line-height: 150%;  
 }
 h2{
     margin-top:10px;
     font-weight: 800;
     font-size: 50px;
 font-style: bold;
 color: black;

 }
 .title{
    color:var(--color);
 }
 .center{
     text-align: center;
 }
 input{
 
     margin-bottom: 40px;
 font-size: 20px;
  top: 1770px;
 font-weight: 700;
 left: 262px;
 width: 100%;
 height: 73px;
 background: #FFFFFF 10% 0% no-repeat padding-box;
 border: 2px solid var(--borde);
 opacity: 0.7;

 }

 input::placeholder {
    
     padding-left: 30px;
  
 }
 label{
     font-size: 20px;
     margin-left:40px;
     font-weight: 700;
     margin-bottom: 10px;
 top: 2064px;
 left: 303px;
 height: 30px;
opacity: 1;
z-index:1;
 }
 textarea{
    margin-bottom: 40px;
 font-size: 20px;
  top: 1770px;
 font-weight: 700;
 left: 262px;
 width: 100%;
 height: 73px;
 background: #FFFFFF 10% 0% no-repeat padding-box;
 border: 2px solid var(--borde);
 opacity: 0.7;
 }
button {

     width: 198px;
     height: 70px;
  background-color: var(--color);
  font-size: 20px;
  border: none;
color: white;
text-align: center;

margin-bottom: 40px;
 }

 button:hover {

     background-color: white;
    color: var(--color);
    border: 2px solid var(--color);
    }
 br{
     margin-top: 100px;
 }


.nuevo {
position: relative;

 height: 73px;
 font-size: 20px;
 font-weight: 700;
 background: #FFFFFF 10% 0% no-repeat padding-box;
 border: 2px solid var(--borde);
 margin-bottom: 40px;

}

.nuevo select {
display: none; 
}




.seleccionado:after {
position: absolute;
content: "";
top: 34px;
right: 30px;
width: 0;
height: 0;
border: 6px solid ;
border-color: var(--color) transparent  transparent;
opacity: 1;
}


.seleccionado.flecha:after {
border-color: transparent transparent var(--texto) transparent;
top: 24px;
}


.seleccionado {
position: relative;
margin-left:22px;
padding: 18px 16px;
cursor: pointer;
user-select: none;
opacity: 0.4;

}

.opciones div {
background-color: var(--contenedor);
position: relative;
color: var(--texto) ;
padding: 18px 16px;
border: 1px solid transparent;
cursor: pointer;
user-select: none;

}

.opciones {

position: absolute;

top: 100%;
left: 0;
right: 0;
z-index: 99;
}


.esconder{
display: none;
}


